section > ul {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    transition: .2s;
}

button:hover {
    transform: translateY(-2px);
    transition: .2s;
}

@media screen and (max-width: 600px) {
    section > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}