<app-container>
    <app-cabecalho
        bannerSrc="/assets/adicionar-contato.png"
        titulo="Adicionar Contato"
    ></app-cabecalho>

    <form [formGroup]="contatoForm" (ngSubmit)="salvarContato()">
        <div class="imagem-contato" role="button">
            <i class="material-icons">add</i>
            <label for="avatar">Adicione a imagem do contato</label>
            <input type="file" accept="image/*" id="avatar" required (change)="aoSelecionarArquivo($event)">
        </div>
        @if(contatoForm.get('avatar')?.value !== '') {
            <figure>
                <img [src]="contatoForm.get('avatar')?.value" alt="Sua foto de perfil">
            </figure>
        }
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do contato" required formControlName="nome">
        <app-mensagem-erro [control]="obterControle('nome')"></app-mensagem-erro>
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" name="telefone" placeholder="Digite o telefone do contato" required formControlName="telefone">
        <app-mensagem-erro [control]="obterControle('telefone')"></app-mensagem-erro>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Digite o e-mail do contato" required formControlName="email">
        <app-mensagem-erro [control]="obterControle('email')"></app-mensagem-erro>
        <app-separador></app-separador>
        <label for="aniversario">Aniversario</label>
        <input type="date" id="aniversario" name="aniversario" placeholder="Digite o aniversario do contato" formControlName="aniversario">
        <label for="redes">Redes sociais</label>
        <div class="input-container">
            <span class="span-http">https://</span>
            <input type="url" id="redes" name="redes" placeholder="Digite a URL da página" formControlName="redes">
        </div>
        <label for="observacoes">Observações</label>
        <textarea name="observacoes" id="observacoes" placeholder="Coloque observações neste espaço" formControlName="observacoes"></textarea>
        <section class="botoes">
            <button type="button" class="botao-cancelar" (click)="cancelar()">Cancelar</button>
            <button [disabled]="contatoForm.invalid" type="submit" [ngClass]="contatoForm.valid ? 'botao-salvar' : 'botao-desabilitado'">Salvar Contato</button>
        </section>
    </form>
</app-container>