<app-container>
    <header>
        <section class="cabecalho-link">
            <img src="/assets/logo.png" alt="">
        </section>
        <section class="cabecalho-contato">
            <img src="/assets/adicionar-contato.png" alt="">
            <h1>Adicionar contato</h1>
        </section>
    </header>

    <form>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do contato" required>
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" name="telefone" placeholder="Digite o telefone do contato" required>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Digite o e-mail do contato" required>
        <app-separador></app-separador>
        <label for="aniversario">Aniversario</label>
        <input type="date" id="aniversario" name="aniversario" placeholder="Digite o aniversario do contato">
        <label for="redes">Redes sociais</label>
        <div class="input-container">
            <span class="span-http">https://</span>
            <input type="url" id="redes" name="redes" placeholder="Digite a URL da página">
        </div>
        <label for="observacoes">Observações</label>
        <textarea name="observacoes" id="observacoes" placeholder="Coloque observações neste espaço"></textarea>
        <section class="botoes">
            <button type="button" class="botao-cancelar">Cancelar</button>
            <button type="submit" class="botao-salvar">Salvar Contato</button>
        </section>
    </form>
</app-container>