input {
    border-radius: 8px;
    border: 1px solid #CED4DA;
    width: 100%;
    padding: 6px 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #6C757D;
}